<%- include ('_header') %>
        
  <div class="bg-img">
      <form action="/search" class="container">
        <h1>Find a Book</h1>
    
        <label for="title"><b>Search by Title</b></label>
        <input type="text" placeholder="Enter title" name="title">
    
        <label for="author"><b>Search by Author</b></label>
        <input type="text" placeholder="Enter Author" name="author" >
       
        <button type="submit" class="btn">SEARCH</button>
      </form>
    </div>

<%- include ('_footer') %>
